td {
    border: 1px solid darkblue;
    size: 40px;
}
fieldset {
    margin: auto;
    width: 20%;
}
legend {
    align-content: center;
    text-align: center;
    font-size: 40px;
}
div {
    text-align: center;
    margin: auto;
}
button {
    width: 100%;
}
body {
    margin: auto;
}